.form {
   display: flex;
   height: 80vh;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: flex-start;
   margin-top: 35px;
}

.form label {
   text-align: left;
}

.form input , textarea {
   padding-left: 10px;
   border-radius: 20px;
   height: 45px;
   padding: 12px;
}

.form textarea#description{
   height: 220px;
   resize: none;
}

.form select {
   padding-left: 10px;
   border-radius: 20px;
   height: 45px;
}

.selectForm option {
   text-align: center;
}

.buttonForm {
   border-radius: 20px;
   height: 55px;
   background-color: black;
   color: white;
   font-size: 20px;
   width: 229px;
   margin: 0 auto;
   margin-top: 40px;  
}