.form {
   display: flex;
   height: 80vh;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: flex-start;
}

.form label {
   text-align: left;
}

.form input {
   padding-left: 10px;
   border-radius: 20px;
   height: 45px;
}

.form select {
   padding-left: 10px;
   border-radius: 20px;
   height: 45px;
}

.selectForm option {
   text-align: center;
}

.buttonForm {
   border-radius: 20px;
   height: 55px;
   background-color: black;
   color: white;
   font-size: 20px;
}