{% extends 'usuarios/base.html' %}
{% load static %}

{% block title %}Cadastro de categorias{% endblock %}

{% block content %}
<form id="add_categoria" method="post">
  {% csrf_token %}
  <div style="text-align: center;" class="container">
    <h1 style="margin-top: 30px;">Cadastro de categorias</h1>
    <div class="form">
      <label for="name">Nome: </label>
      <input style="width: 500px;" type="text" id="name" name="name" required><br>
      <label for="description">Descrição: </label>
      <textarea type="description" id="description" name="description" required></textarea><br>
      <button class="buttonForm" type=" submit">Enviar</button>
    </div>
  </div>
</form>

<script src="{% static '/JS/postCategoria.js' %}"></script>
{% endblock %}